<div class="row p-2 mx-2" style="background-color: #fff">
	<div class="col">
		<div class="title">
			<h3>Data User</h3>
		</div>
		<div class="content">
			<button (click)="forms.resetValue()" type="button" data-toggle="modal" data-target="#form-modal" class="btn btn-success">Tambah</button>
			<div class="my-3 table-responsive">
				<table class="table table-bordered table-striped">

					<thead>
						<tr>
							<th>No</th>
							<th>Nama</th>
							<th>Jenis</th>
							<th>Jumlah</th>
							<th>Tanggal</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let datarow of incomeData;let index=index">
							<td>{{index+1}}</td>
							<td>{{datarow.nama}}</td>
							<td>{{datarow.jenis =='1' ? 'Cash' : 'Transfer'}}</td>
							<td>{{datarow.jumlah |currency:'IDR':'Rp.'}}</td>
							<td>{{datarow.date |date:'dd-MM-yyyy'}}</td>

							<td>
								<a data-toggle="modal" data-target="#form-modal" class="btn btn-sm btn-warning" (click)="editIncome(datarow.idIn)">Edit</a>
								<a  class="btn btn-sm btn-danger" (click)="deleteIncome(datarow.idIn)">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitIncome()">
        	<div class="form-group">
        		<label for="">Nama</label>
				<input type="text" [(ngModel)]="forms.nama" name="nama" class="form-control">
        	</div>
        	<div class="form-group">
        		<label for="">Jenis</label>
				<select name="jenis" [(ngModel)]="forms.jenis" class="form-control">
					<option value="1">Cash</option>
					<option value="2">Transfer</option>
				</select>
        	</div>
        	<div class="form-group">
        		<label for="">Jumlah</label>
				<input type="number" [(ngModel)]="forms.jumlah" name="jumlah" class="form-control">
        	</div>
        	<div class="form-group">
        		<label for="">Tanggal</label>
				<input type="date" [(ngModel)]="forms.date" name="date" class="form-control">
        	</div>
        	
        	<div class="form-group">
        		<button type="button" class="mx-2 btn btn-secondary" data-dismiss="modal">Close</button>
        		<button type="submitData" class="mx-2 btn btn-primary">Save changes</button>
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>